.page__places {
    margin: 0 auto 109px;
    padding: 0 48px;
}

@media screen and (max-width: 768px) {
    .page__places {
        padding: 0 24px;
    }
}
@media screen and (max-width: 425px) {
    .page__places {
        padding: 0;
        margin: 0 auto 64px;
    }
}