.page__comments {
    margin: 0 auto 90px;
    padding: 0 48px;
}

@media screen and (max-width: 768px) {
    .page__comments {
        padding: 0 24px;
    }
}
@media screen and (max-width: 425px) {
    .page__comments {
        margin: 0 auto 64px;
        padding: 0 16px;
    }
}