.page__footer {
    margin: 0 auto 48px;
    padding: 0 48px;
}

@media screen and (max-width: 768px) {
    .page__footer {
        padding: 0 24px;
        margin: 0 auto 24px;
    }
}
@media screen and (max-width: 425px) {
    .page__footer {
        padding: 0 16px;
    }
}